<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnTheMap_Arnold.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86E99B5B1CD76588000BE020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86E99B6F1CD76589000BE020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86E99B7A1CD76589000BE020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
